<div class="products-wraper">
  <h2>{{category || search || "Products" }}</h2>
  <div class="breadcrumb" *ngIf="category || search">Home / Products / <b>{{ category || search }}</b></div>
  <div class="breadcrumb" *ngIf="!category && !search">Home / <b>Products</b></div>
  <div class="result-wraper">
    <aside>
      <h3>Products</h3>
      <label [ngClass]="{ active: selectedCategory === null }">
        <input
          type="radio"
          name="category"
          [value]="null"
          [(ngModel)]="selectedCategory"
          (click)="getProducts()"
        />
        All ({{ 0 }})
      </label>
      @for (category of categories; track $index) {
      <label [ngClass]="{ active: selectedCategory === category.name }">
        <input
          type="radio"
          name="category"
          [value]="category.name"
          [(ngModel)]="selectedCategory"
          (click)="getProducts(category.name)"
        />
        {{ category.name }} ({{ 0 }})
      </label>
      }
    </aside>
    <div class="results-container">
      <div *ngIf="!!search" class="products-header">
        <div class="found-items">
          ({{ totalItems }}) Products Found
        </div>
      </div>
      <div class="products">
        @for (product of products; track $index) {
        <app-product [product]="product"></app-product>
        }
      </div>
      <app-paginator
        *ngIf="totalPages > 1"
        (change)="goTo($event)"
        [current]="currentPage"
        [total]="totalPages"
      ></app-paginator>
    </div>
  </div>
</div>
