<header>
  <div class="container">
    <div class="logo-container" [routerLink]="['']">
      <img src="assets/images/logo.png" width="32" height="32" alt="log" />
      ClickTik
    </div>
    <div class="page-links">
      <a [routerLink]="['']">
        Home
      </a>
    </div>
    @if (isAuth) {
      <div class="search-input-container">
        <input type="text" class="search-input" [(ngModel)]="search" placeholder="Search" />
      </div>
      <div class="cart">
        <img src="assets/images/cart.png" width="17" height="17" alt="cart" />
        <span *ngIf="cartItemsCount" class="count-items">
          {{ cartItemsCount }}
        </span>
      </div>
      <a class="goto-account">Account</a>
    }
    @else {
      <a class="goto-login" [routerLink]="['', 'auth', 'login']">Login</a>
    }
  </div>
</header>
<main>
  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="logo-container" [routerLink]="['']">
        <img src="assets/images/logo.png" width="32" height="32" alt="log" />
        ClickTik
      </div>
      <div class="rights">
        &copy; 2022 ClickTik
      </div>
    </div>
  </footer>
</main>

