@import "../assets/styles/variables.scss";

header {
  background-color: #fff;
  border-bottom: 1px solid #424242;

  .container {
    padding-block: 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    & > * {
      height: fit-content;
    }

    .logo-container {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #000;
      min-width: 132px;
      cursor: pointer;

      img {
        width: 32px;
        height: 32px;
      }
    }

    .page-links {
      flex: 1;
    }

    a {
      color: #667085;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $main-color;
      }
    }

    .search-input-container {
      position: relative;

      .search-input {
        min-width: 200px;
        max-width: 319px;
        font-size: 14px;
        line-height: 17px;
        height: 32px;
        padding-left: 36px;

        &::placeholder {
          color: #999;
        }

        &:focus {
          border-color: $main-color;
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        top: 50%;
        left: 11px;
        transform: translateY(-50%);
        background-image: url(../assets/images/search.png);
      }
    }

    .cart {
      position: relative;
      cursor: pointer;
      
      .count-items {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 16px;
        border-radius: 50%;
        border: 2px solid #fff;
        text-align: center;
        background-color: $main-color;
        color: #344054;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
      }

      .cart-dropdown-bg {
        position: fixed;
        background-color: #0003;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
      
      .cart-dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 2px;
        width: fit-content;
        height: fit-content;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #a0a0a0;
        border-radius: 8px;
        max-width: 200px;
        z-index: 1;
  
        button {
          background-color: rgba(#d55, 0.9);
          color: #fff;
          min-width: 150px;
          min-height: 48px;
          border: none;
          outline: none;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
  
          &:focus,
          &:active,
          &:hover {
            background-color: #d55;
          }
        }
      }
    }

    .goto-account {
      margin-inline-start: 6px;
      position: relative;
      
      & > span {
        cursor: pointer;
      }

      .user-dropdown-bg {
        position: fixed;
        background-color: #0003;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
      
      .user-dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 2px;
        width: fit-content;
        height: fit-content;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #a0a0a0;
        border-radius: 8px;
        max-width: 200px;
        z-index: 1;
        
        button {
          background-color: rgba(#d55, 0.9);
          color: #fff;
          min-width: 150px;
          min-height: 48px;
          border: none;
          outline: none;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;

          &:focus,
          &:active,
          &:hover {
            background-color: #d55;
          }
        }
      }
    }
  }
}

main {
  height: 100%;
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .content {
    flex: 1;
    display: flex;

    .container {
      width: 100%;
      padding-block: 0;
    }
  }

  footer {
    background-color: #1d2939;
    font-size: 16px;
    line-height: 24px;
    padding-block: 30px;
    padding-inline: 18px;

    .container {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      & > * {
        height: fit-content;
      }

      .logo-container {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
        }
      }

      .rights {
        color: #98a2b3;
      }
    }
  }
}
