<div class="login-container">
  <div class="login-wraper">
    <img
      src="assets/images/logo.png"
      class="logo"
      height="48"
      width="48"
      alt="logo"
    />
    <h2>
        Log in to your account
    </h2>
    <p>
        Welcome back! Please enter your details.
    </p>
    <label>
        Email
    </label>
    <input type="email" placeholder="Enter your email" />
    <label>
        Password
    </label>
    <input type="password" placeholder="********" />
    <button>
        Sign in
    </button>
  </div>
</div>
