@import "./../../../../../assets/styles/variables.scss";

.paginatior-container {
  width: 100%;
  padding: 8px;
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;

  button {
    min-width: 30px;
    height: 30px;
    border-radius: 8px;
    color: #1e1e1e;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;

    &:not(.current):hover {
      background-color: rgba($main-color, 0.8);
    }

    &:disabled,
    &:disabled:hover {
      background-color: #eee;
      cursor: not-allowed;
    }

    &.current {
      background-color: $main-color;
    }
  }
}
